{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Farbeh SideBar V2.0</title>
    <!--IMPORT BOOTSTRAP HERE-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-------------------------->
    <!--IMPORT ICONS HERE-->
    <link
      href="{% static "sampleApp/open-iconic-master/font/css/open-iconic-bootstrap.css" %}"
      rel="stylesheet"
    />
    <!-------------------------->
    <!--IMPORT FONTS HERE-->
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <!-------------------------->
    <!--IMPORT CSS FILE AND VUE FILE HERE-->
    <link rel="stylesheet" href="{% static "sampleApp/style.css" %}" />
    <script src="{% static "sampleApp/vue.js" %}"></script>
    <!-------------------------->
  </head>

  <body>
    <!--  SIDE BAR HERE  -->
    <div class="side-bar">
      <!--SIDE BAR HEAD HERE-->
      <div class="pb-2 px-3 mb-4">
        <!-- LOGO HERE -->
        <img />
        <!------------------->
        <!--WEB APP NAME HERE-->
        <div class="media-body">
          <h4 class="text-center logoText expanded">
            Farbeh
          </h4>
          <h4 class="mx-1 logoText expanded2">
            Fb
          </h4>
          <!------------------->
        </div>
      </div>
      <!-------END OF SIDE BAR HEAD-------->

      <!------------SIDE BAR ITEMS HERE--------------->
      <ul class="nav">
        <div id="items">
          <!--ITEM-->
          <li
            class="nav-item"
            @click="isClicked = 1"
            :class="{active: isClicked == 1}"
          >
            <a href="#" class="nav-link text-white">
              <!-- icon is here-->
              <span class="oi oi-home icon"></span>
              <span class="items expanded">Home</span>
            </a>
          </li>

          <!--ITEM-->
          <li
            class="nav-item"
            @click="isClicked = 2"
            :class="{active: isClicked == 2}"
          >
            <a href="#" class="nav-link text-white">
              <!-- icon is here -->
              <span class="oi oi-clipboard icon"></span>
              <span class="items expanded">Projects</span>
            </a>
          </li>
          <!--ITEM-->
          <li
            class="nav-item"
            @click="isClicked = 3"
            :class="{active: isClicked == 3}"
          >
            <a href="#" class="nav-link text-white">
              <!-- icon is here-->
              <span class="oi oi-tags icon"></span>
              <span class="items expanded">Tags</span>
            </a>
          </li>
          <!--ITEM-->
          <li
            class="nav-item"
            @click="isClicked = 4"
            :class="{active: isClicked == 4}"
          >
            <a href="#" class="nav-link text-white">
              <!-- icon is here-->
              <span class="oi oi-task icon"></span>
              <span class="items expanded">Tasks</span>
            </a>
          </li>
        </div>
      </ul>
    </div>
    <!-- SIDE BAR ENDED -->

    <!-- TOP SECTION HERE  -->
    <div class="top-section"></div>
    <!-- TOP SECTION ENDED  -->

    <!-- BOTTOM SECTION HERE  -->
    <div class="bottom-section">
      <!--START, STOP BUTTON ARE HERE-->

        {%  block body %}
        {%  endblock %}
    </div>
    <!-- BOTTOM SECTION ENDED -->

    <!-- VUE SCRIPT HERE-->

    <script>
      //SIDEBAR START
      new Vue({
        el: "#items",
        data: {
          isClicked: 1,
        },
      });
      //SIDEBAR ENDED

      //BOTTOM SECION START
      new Vue({
        el: ".bottom-section",
        delimiters: ['[[',']]'],
        data: {
          task: "Task Name",
          isStart: false,
          seconds: 0,
          minutes: 0,
          hours: 0,
          show: "",
          showSeconds: "00",
          showMinutes: "00",
          showHours: "00",
        },
        methods: {
          inputTask: function () {
            this.task = event.target.value;
          },
          start: function () {
            this.isStart = true;
            this.seconds++;
          },
          stop: function () {
            this.seconds = 0;
            this.show = " 00 : 00 : 00";
            this.isStart = false;
          },
          counter: function () {
            if (this.seconds > 59) {
              this.minutes++;
              this.seconds = 0;
            }
            if (this.minutes > 59) {
              this.hour++;
              this.minutes = 0;
            }
          },
        },

        watch: {
          seconds: function (value) {
            var vm = this;
            var start;
            if (vm.isStart == true) {
              vm.show =
                vm.showHours + " : " + vm.showMinutes + " : " + vm.showSeconds;

              start = setTimeout(function () {
                if (vm.seconds < 10) {
                  vm.showSeconds = "0" + vm.seconds;
                } else vm.showSeconds = vm.seconds;

                if (vm.minutes < 10) {
                  vm.showMinutes = "0" + vm.minutes;
                } else vm.showMinutes = vm.minutes;

                if (vm.hours < 10) {
                  vm.hours = "0" + vm.hours;
                } else vm.showHours = vm.hours;

                vm.seconds++;
                vm.counter();
              }, 1000);
            }

            if (vm.isStart == false) {
              clearTimeout(start);
              vm.show = "00 : 00 : 00";
              vm.seconds = 0;
              vm.minutes = 0;
              vm.hours = 0;
              vm.task = "";
            }
          },
        },
      });
      //BOTTOM SECTION ENDED
    </script>
    <!--VUE SCRIPT ENDED-->
  </body>
</html>
